Repository NRLMMD-GEOIPS/geoips, pull requests merged in 2022-08, with the labels that each got.

#18 geoips#17 geoips - Update git-workflow to make use of new "Create Branch" option
  CHANGELOG.md
  COMMIT_MESSAGE_TEMPLATE.md
  docs/git-workflow.rst
Labels: documentation

#42 Update CHANGELOG formatting
  CHANGELOG.md
Labels: documentation

#44 v1.5.2.dev1 geoips - DEVELOPMENTAL UPDATE
  .gitignore
  CHANGELOG.md
  COMMIT_MESSAGE_TEMPLATE.md
  README.md
  VERSION
  base_install_and_test.sh
  docs/geoips_index.rst
  docs/git-workflow.rst
  setup.py
  setup.sh
  setup/bash_setup/color_prompt
  setup/check_system_requirements.sh
  setup/config_geoips
  setup/geoips_conda_init_setup
  setup/repo_clone_update_install.sh
  tests/outputs/abi.static.Infrared.imagery_annotated/20200918.195020.goes-16.abi.Infrared.goes16.45p56.noaa.10p0.png
  tests/outputs/abi.tc.Infrared.imagery_annotated/20200918_195020_AL202020_abi_goes-16_Infrared_110kts_100p00_1p0.png
  tests/outputs/abi.tc.Infrared.imagery_annotated/20200918_195020_AL202020_abi_goes-16_Infrared_110kts_100p00_1p0.png.yaml
  tests/outputs/amsr2.global_overlay.37pct.imagery_annotated_over_Infrared-Gray/20200518.062048.gcom-w1.amsr2.37pct.global.10p06.star.20p0.png
  tests/outputs/amsr2.global_overlay.37pct.imagery_annotated_over_Visible/20200518.062048.gcom-w1.amsr2.37pct.global.10p06.star.20p0.png
  tests/outputs/amsr2.global_overlay.89pct.imagery_annotated_over_Infrared-Gray/20200518.062048.gcom-w1.amsr2.89pct.global.13p55.star.20p0.png
  tests/outputs/amsr2.global_overlay.89pct.imagery_annotated_over_Visible/20200518.062048.gcom-w1.amsr2.89pct.global.13p55.star.20p0.png
  tests/outputs/amsr2.tc_overlay.37pct.imagery_annotated_over_Infrared-Gray/20200518_073601_IO012020_amsr2_gcom-w1_37pct_140kts_95p89_res1p0-cr100-bgInfrared-Gray.png
  tests/outputs/amsr2.tc_overlay.37pct.imagery_annotated_over_Infrared-Gray/20200518_073601_IO012020_amsr2_gcom-w1_37pct_140kts_95p89_res1p0-cr100-bgInfrared-Gray.png.yaml
  tests/outputs/amsr2.tc_overlay.37pct.imagery_annotated_over_Visible/20200518_073601_IO012020_amsr2_gcom-w1_37pct_140kts_95p89_res1p0-cr100-bgVisible.png
  tests/outputs/amsr2.tc_overlay.37pct.imagery_annotated_over_Visible/20200518_073601_IO012020_amsr2_gcom-w1_37pct_140kts_95p89_res1p0-cr100-bgVisible.png.yaml
  tests/outputs/amsr2.tc_overlay.89pct.imagery_annotated_over_Infrared-Gray/20200518_073601_IO012020_amsr2_gcom-w1_89pct_140kts_98p32_res1p0-cr100-bgInfrared-Gray.png
  tests/outputs/amsr2.tc_overlay.89pct.imagery_annotated_over_Infrared-Gray/20200518_073601_IO012020_amsr2_gcom-w1_89pct_140kts_98p32_res1p0-cr100-bgInfrared-Gray.png.yaml
  tests/outputs/amsr2.tc_overlay.89pct.imagery_annotated_over_Visible/20200518_073601_IO012020_amsr2_gcom-w1_89pct_140kts_98p32_res1p0-cr100-bgVisible.png
  tests/outputs/amsr2.tc_overlay.89pct.imagery_annotated_over_Visible/20200518_073601_IO012020_amsr2_gcom-w1_89pct_140kts_98p32_res1p0-cr100-bgVisible.png.yaml
  tests/scripts/abi.config_based_output_low_memory.sh
  tests/scripts/abi.static.Infrared.imagery_annotated.sh
  tests/scripts/amsr2.config_based_overlay_output.sh
  tests/scripts/amsr2.config_based_overlay_output_low_memory.sh
  tests/test_base_install_low_memory.sh
  tests/yaml_configs/abi_test_low_memory.yaml
  tests/yaml_configs/amsr2_test.yaml
  tests/yaml_configs/amsr2_test_low_memory.yaml
Labels: Dev Update

#34 Create basic ci
  .dockerignore
  .github/workflows/build-and-test-in-docker.yaml
  CHANGELOG.md
  Dockerfile
  base_install_and_test.sh
  geoips/filenames/base_paths.py
  geoips/image_utils/maps.py
  geoips/interface_modules/title_formats/__init__.py
  geoips/interface_modules/user_colormaps/tpw/tpw_cimss.py
  geoips/interface_modules/user_colormaps/tpw/tpw_purple.py
  geoips/interface_modules/user_colormaps/tpw/tpw_pwat.py
  geoips/utils/__init__.py
  setup.py
  setup.sh
  tests/scripts/abi.static.Infrared.imagery_annotated.sh
  tests/scripts/abi.static.Visible.imagery_annotated.sh
  tests/scripts/amsr2_ocean.tc.windspeed.imagery_clean.sh
  tests/scripts/documentation_imagery.sh
  tests/yaml_configs/abi_test.yaml
  tests/yaml_configs/abi_test_low_memory.yaml
Labels: installation and test

#39 convert python script docstrings to numpy docstring format
  geoips/image_utils/__init__.py
  geoips/image_utils/colormap_utils.py
  geoips/image_utils/maps.py
  geoips/image_utils/mpl_utils.py
Labels: documentation

#41 Add non-member instructions for forking
  CHANGELOG.md
  docs/git-workflow.rst
Labels: documentation, git workflow
