Repository NRLMMD-GEOIPS/geoips, pull requests merged in 2023-01, with the labels that each got.

#50 Update from google to numpy docstring format
  docs/documentation_strategy.rst
Labels: documentation

#66 Update release.yml for automated GitHub release notes
  .github/release.yml
Labels: git workflow

#77 Include all dependencies with default pip install
  CHANGELOG.md
  setup.py
Labels: installation
