Repository NRLMMD-GEOIPS/geoips, pull requests merged in 2024-11, with the labels that each got.

#759 Share log attr between cli classes
  docs/source/releases/latest/share-log-attr-between-cli-classes.yaml
  geoips/commandline/commandline_interface.py
  geoips/commandline/geoips_command.py
Labels: refactor, cli

#823 Removed Old Geokompsat Product File
  docs/source/releases/latest/remove-unused-geokompsat-product-file.yaml
  geoips/plugins/yaml/products/geokompsat.yaml
Labels: Refactor: Dead Code

#827 updated test dataset location for geoips_clavrx and added release notes
  docs/source/releases/latest/update-geoips-clavrx-test-data.yaml
  setup/test-data-urls.yaml
Labels: testing

#775 Rewrite docs build script
  .github/workflows/doc-test.yaml
  docs/__init__.py
  docs/build_docs.py
  docs/build_docs.sh
  docs/source/_templates/index.template.rst
  docs/source/_templates/sphinx_conf.template.py
  docs/source/devguide/index.rst
  docs/source/new-docs/concepts/functionality/documentation-building.rst
  docs/source/new-docs/contribute/code-of-conduct.rst
  docs/source/releases/latest/774-re-write-docs-build-script-to-be-more-understandable-+-modifiable.yaml
  docs/source/releases/latest/make-repo-name-optional-for-docs-build.yaml
  docs/update_release_note_index.py
  pyproject.toml
Labels: documentation, update release notes, Brassy
