Repository NRLMMD-GEOIPS/geoips, pull requests merged in 2025-04, with the labels that each got.

#930 CLI Test Dataset Update
  docs/source/releases/latest/cli-test-datasets-update.yaml
  geoips/commandline/ancillary_info/cmd_instructions.yaml
  geoips/commandline/ancillary_info/test_data.py
  geoips/commandline/geoips_config.py
  geoips/plugins/modules/readers/abi_netcdf.py
  geoips/plugins/modules/readers/ami_netcdf.py
  geoips/plugins/modules/readers/fci_netcdf.py
  setup/test-data-urls.yaml
Labels: testing, cli

#957 Pytest updates
  docs/source/releases/latest/pytest-based-integration-tests.yaml
  pytest.ini
  tests/integration_tests/interactive_test.sh
  tests/integration_tests/system_install.sh
  tests/integration_tests/test_integration.py
  tests/utils/interactive_pytest.sh
Labels: bug

#954 Enhancemet - 936 Update OBP procflow to accept workflow as its first argument
  docs/source/releases/latest/954-enhancement-update-OBP-procflow-first-arg-as-workflow.yaml
  geoips/plugins/modules/procflows/order_based.py
Labels: enhancement, order based procflow

#934 Fixes file object resource warnings across multiple files
  docs/source/releases/latest/934-fixes-resources-warning.yaml
  geoips/commandline/cmd_instructions.py
  geoips/commandline/geoips_command.py
  geoips/commandline/geoips_describe.py
  geoips/commandline/geoips_list.py
  geoips/commandline/geoips_validate.py
  geoips/interfaces/base.py
  geoips/plugin_registry.py
  tests/unit_tests/commandline/test_geoips_list_interface.py
  tests/unit_tests/commandline/test_geoips_list_plugins.py
  tests/unit_tests/plugin_registries/test_plugin_registries.py
Labels: potential bug

#914 Pydantic Feature Annotator Models
  docs/source/releases/latest/obp-pydantic-feature-annotator-models.yaml
  geoips/interfaces/yaml_based/feature_annotators.py
  geoips/plugins/yaml/feature_annotators/default.yaml
  geoips/plugins/yaml/feature_annotators/default_oldlace.yaml
  geoips/plugins/yaml/feature_annotators/tc_visir.yaml
  geoips/pydantic/bases.py
  geoips/pydantic/feature_annotators.py
  tests/outputs/viirsday.global.Night-Vis-IR.cogeotiff_rgba/20210209.074210.noaa-20.viirs.Night-Vis-IR.global.2p00.NASA.20p0.tif
  tests/unit_tests/plugins/yaml/sectors/test_sectors_jsonschema.py
  tests/unit_tests/pydantic/feature_annotators/test_cases.yaml
  tests/unit_tests/pydantic/feature_annotators/test_feature_annotators.py
  tests/unit_tests/pydantic/sectors/test_sectors.py
  tests/unit_tests/pydantic/utils.py
Labels: enhancement, order based procflow

#971 Update NRLMMD tagged_version to 1.15.2
  .github/versions/tagged_version
Labels: bug, Version Release

#969 CLI ``geoips run -h`` bug fix
  docs/source/releases/latest/cli-geoips-run-bug-fix.yaml
  geoips/commandline/commandline_interface.py
  tests/unit_tests/commandline/test_geoips_run.py
Labels: bug
